{% extends 'baseBase.html.twig' %}

{% block title %}Authors{% endblock %}

{% block body %}
    <h1>Authors</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>LastName</th>
                <th>OriginCountry</th>
                <th>DateOfBirth</th>
                <th>DateOfDeath</th>
                <th>DateOfCreate</th>
                <th>DateOfUpdate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for author in authors %}
            <tr>
                <td>{{ author.id }}</td>
                <td>{{ author.name }}</td>
                <td>{{ author.lastName }}</td>
                <td>{{ author.originCountry }}</td>
                <td>{{ author.dateOfBirth ? author.dateOfBirth|date('Y') : '' }}</td>
                <td>{{ author.dateOfDeath ? author.dateOfDeath|date('Y ') : '' }}</td>
                <td>{{ author.dateOfCreate ? author.dateOfCreate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ author.dateOfUpdate ? author.dateOfUpdate|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('author_show', {'id': author.id}) }}">show</a>
                    <a href="{{ path('author_edit', {'id': author.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('author_new') }}">Create new</a>
{% endblock %}
