{% extends 'base.html.twig' %}

{% block title %}Image{% endblock %}

{% block body %}
    <div class="mt-3 d-flex mb-3">
        <a class="btn btn-secondary mr-3 "
           href="{{ path('product_show', {id: product.id}) }}">{{ 'goback' | trans }}</a>
        {{ include('product/gallery/_delete_form.html.twig') }}
    </div>
    <a href="/img/{{ image.file }}" target="_blank" class="mr-4 mt-4"><img src="/img/{{ image.file }}" alt=""
                                                                           style="max-width: 1000px; max-height: 1000px"></a>

{% endblock %}