{% extends 'base.html.twig' %}

{% block title %}
    {% trans %}Products{% endtrans %}
{% endblock %}

{% block body %}
    <h1>{% trans %}Product{% endtrans %}</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>{% trans %}Name{% endtrans %}</th>
            <th>{% trans %}Description{% endtrans %}</th>
            <th>{% trans %}Cover{% endtrans %}</th>
            <th>{% trans %}Date Of Creation{% endtrans %}</th>
            <th>{% trans %}Date Of Last Modification{% endtrans %}</th>
            <th>{% trans %}Category{% endtrans %}</th>
            <th>{% trans %}Wishlist{% endtrans %}</th>
            <th>{% trans %}Action{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name|trans }}</td>
                <td>{{ product.description|trans }}</td>
                <td>
                    {% if product.cover %}
                        <a href="/img/{{ product.cover }}" target="_blank"><img
                                    src="/img/{{ product.cover }}" alt="{{ product.name }}"
                                    style="max-width: 100px; max-height: 100px"></a>
                    {% endif %}
                </td>
                <td>{{ product.dateOfCreation ? product.dateOfCreation|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ product.dateOfLastModification ? product.dateOfLastModification|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('product_category_show', {'id': product.productCategory.id }) }}"> {{ product.productCategory.name|trans}}</a>
                </td>
                <td>
                    {{ render(controller(
                        'App\\Controller\\WishListController::showWishListProductForm', {id: product.id}
                    )) }}
                </td>
                <td>
                    <a href="{{ path('product_show', {'id': product.id}) }}">{% trans %}Show{% endtrans %}</a> <br>
                    <a href="{{ path('product_edit', {'id': product.id}) }}">{% trans %}Edit{% endtrans %}</a> <br>
                </td>
            </tr>

        {% else %}
            <tr>
                <td colspan="6">{% trans %}'no records found' {% endtrans %}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary"  href="{{ path('product_new') }}"  role="button"> {%  trans %}Create new {% endtrans %}</a>
{% endblock %}