{% extends 'base.html.twig' %}

{% block title %}{{product.name | trans}}{% endblock %}

{% block body %}
    <h1>{% trans %}Product{% endtrans %}</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ product.id }}</td>
        </tr>
        <tr>
            <th>{% trans %}Name{% endtrans %}</th>
            <td>{{ product.name|trans }}</td>
        </tr>
        <tr>
            <th>{% trans %}Cover{% endtrans %}</th>
            <td><a href="/img/{{ product.cover }}" target="_blank" class="mr-4 mt-4"><img src="/img/{{ product.cover }}"
                                                                                          alt="{{ product.name }}"
                                                                                          style="max-width: 200px; max-height: 200px"></a>
            </td>
        </tr>
        <tr>
            <th>{% trans %}Description{% endtrans %}</th>
            <td>{{ product.description|trans }}</td>
        </tr>
        <tr>
            <th>{% trans %}Date Of Creation{% endtrans %}</th>
            <td>{{ product.dateOfCreation ? product.dateOfCreation|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>{% trans %}Date Of Last Modification{% endtrans %}</th>
            <td>{{ product.dateOfLastModification ? product.dateOfLastModification|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>{% trans %}Category{% endtrans %}</th>
            <td><a href="{{ path('product_category_show', {'id': product.productCategory.id }) }}"> {{ product.productCategory.name|trans }}</a></td>
        </tr>
        </tbody>
    </table>
    <div class="d-flex mb-4">
        <h3 class="mr-4">{% trans %}Gallery{% endtrans %}</h3>
        <a href="{{ path('product_images_add', {product: product.id}) }}" class="btn btn-primary">{% trans %}Add image{% endtrans %}</a>
    </div>
    {% for image in product.images %}
        <a href="{{ path('product_images_show',{product: product.id, image: image.id}) }}"
           class="mr-4"><img src="/img/{{ image.file }}" alt="{{ product.name }}"
                             style="max-width: 200px; max-height: 200px"></a>
    {% endfor %}
    <br><br>
    <a class="btn btn-primary"  href="{{ path('product_index') }}"  role="button">{% trans %}Back to list{% endtrans %}</a>
    <a class="btn btn-primary"  href="{{ path('product_edit', {'id': product.id}) }}"  role="button">{% trans %}Edit product{% endtrans %}</a>
    <br> <br>
    {{ render(controller(
        'App\\Controller\\WishListController::showWishListProductForm', {id: product.id}
    )) }}
 <br>
    {{ include('product/_delete_form.html.twig') }}
{% endblock %}
